<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <script defer src="/inits/definitions.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
  <script defer src="/components/pageSwitcher.js"></script>
  <script defer src="/components/mapLoader.js"></script>
  <script defer src="/components/classes.js"></script>
  <script defer src="/components/questionBar.js"></script>
  <script defer src="/components/canvas.js"></script>
  <script defer src="/components/points.js"></script>
  <script defer src="/components/answer.js"></script>
  <script defer src="/components/question.js"></script>
  <script defer src="/components/addShapes.js" type="module"></script>
  <script defer src="/draw/globalPrototypeSetting.js"></script>
  <script defer src="/components/saveTestBtn.js"></script>
</head>

<body>  
  <div class="layout">
    <%- include('partials/navbar'); %>
    <main class="new-test-main">
      <div class="new-test-wrapper">
          <div class="go-back-wrapper">
              <a href="/tests" class="material-symbols-outlined gray80">chevron_left</a>
              <span class="fs06">Zpět</span>
          </div>
          <div class="progress-bar-wrapper">
              <div class="navigation-wrapper">
                  <button id="prev-btn" class="material-symbols-outlined"
                      onclick="prevState()">chevron_left</button>
                  <button id="next-btn" class="material-symbols-outlined"
                      onclick="nextState()">chevron_right</button>
              </div>
              <div class="rectangle-wrapper">
                  <div class="rectangle passed"></div>
                  <div class="rectangle"></div>
                  <div class="rectangle"></div>
              </div>
              <span id="progress-bar-heading" class="progress-bar-heading">Nahrátí map</span>
          </div>
          <div class="create-test-wrapper">
              <div class="create-test-page create-test-page--active" id="create-test-maps">
                  <div class="map-upload-button-wrap">
                      <label for="map-upload" id="map-label">
                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20"
                          viewBox="0 0 24 24" width="20">
                          <g>
                            <rect fill="none" height="20" width="20" />
                          </g>
                          <g>
                            <path d="M5,20h14v-2H5V20z M5,10h4v6h6v-6h4l-7-7L5,10z" fill="rgb(45,45,45)" />
                          </g>
                        </svg>
                        Nahrát mapy
                        <input type="file" id="map-upload" multiple accept="image/*">
                      </label>
                      <div>* Max. velikost mapy: 1 Mb</div>
                      <div>* Max. počet map: 5</div>
                    </div>
                    <div class="maps-wrap">
                      <% if (test) { %>
                        <% for (let i=0; i < test.maps.length; i++) { %>
                          <div class="map-wrap" id="<%= test.maps[i].mapId %>">
                            <div class="map-image">
                              <img src="<%= test.maps[i].data %>" alt="map">
                              <span class="close-map">✖</span>
                            </div>
                            <div class="map-info">
                              <div class="placeholder">Název mapy</div>
                              <input type="text" value="<%=test.maps[i].title%>">
                            </div>
                          </div>
                          <% } %>
                      <% } %>
                    </div>
              </div>
              <div class="create-test-page" id="create-test-questions">
                  <div class="wrap-questions">
                      <% if (test) { %>
                          <% for (let i = 0; i < test.questions.length; i++) { %>
                              <span>
                                  <input <% if (i==0) { %> checked <% } %> type="radio" id="question<%=i+1%>" name="question">
                                  <label for="question<%=i+1%>"> <%= i+1 %>
                                  </label>
                              </span>
                              <% } %>
                                  <% } %>
                                  <div id="add-new-question">+</div>
                  </div>
                  <div class="wrap-testing">  
                    <div class="canvas-wrap-testing">
                      <canvas class="canvas-testing" id="canvas"></canvas>
                    </div>
                    <div class="panel-testing">
                      <div class="question-heading-wrap">
                        <div class="wrap-heading-main">
                          <span>Otázka:</span>
                          <span id="question-number">1</span>
                        </div>                        
                        <span class="material-symbols-outlined" id="deleteQuestionBtn">delete</span>
                      </div>
                      <div>
                        <div class="wrap-heading-small">Mapa</div>
                        <select name="choose-from-map" id="select-map">
                          <option value="null" disabled selected>Vyberte mapu</option>
                          <% if (test) { %>
                            <% if (test.maps.length > 0) { %>
                              <% for (let i = 0; i < test.maps.length; i++) { %>
                                <option value="<%=test.maps[i].mapId%>"><%=test.maps[i].title%></option>
                              <% } %>
                            <% } %>
                          <% } %>
                        </select>
                        <div class="wrap-heading-small shapes-heading">Přidat tvar</div>
                        <div class="shapes-wrap">
                          <label for="point-shape">
                            <input type="radio" id="point-shape" name="select-shape">
                            <span>bod</span>
                          </label>
                          <label for="line-shape">
                            <input type="radio" id="line-shape" name="select-shape">
                            <span>linie</span>
                          </label>
                          <label for="polygon-shape">
                            <input type="radio" id="polygon-shape" name="select-shape">
                            <span>polygon</span>
                          </label>
                          <span class="material-symbols-outlined close-shape hidden" id="remove-selection-from-input">close</span>
                        </div>
                        <div class="canvas-icons">
                          <div class="canvas-icon-wrap">
                            <span class="material-symbols-outlined" id="deleteAllObjectsFromMapBtn">delete</span>
                            <span  class="icon-text">Vymazat obsah mapy</span>
                          </div>
                          <div class="canvas-icon-wrap">
                            <span class="material-symbols-outlined" id="zoomOutBtn">zoom_out_map</span>
                            <span class="icon-text">Původní pozice</span>
                          </div>
                        </div>
                      </div>
                      <div class="line-separator"></div>
                      <div>
                        <div class="wrap-heading-small">Odpovědi</div>
                        <button class="material-symbols-outlined" id="add-answer-wrap">add</button>
                        <div id="answers-wrap"></div>
                      </div>
                      <div class="line-separator"></div>
                      <div>
                        <div class="wrap-heading-small">Body (1 - 10)</div>
                        <div class="points">
                          <button class="material-symbols-outlined" id="dec-point">remove</button>
                          <span id="point-value">1</span>
                          <button class="material-symbols-outlined" id="inc-point">add</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="create-test-page" id="create-test-details">
                <div id="test-name-wrap">
                  <h4 class="wrap-heading-small">Název testu</h4>
                  <% if (test) { %>
                    <input type="text" value="<%= test.title %>">
                    <% } else { %>
                      <input type="text">
                      <% } %>
                </div>
  
  
                <div class="marks-wrap">
                  <h4 class="wrap-heading-small">nastavení známkování</h4>
                  <table>
                    <thead>
                      <tr class="head-row">
                        <td>známka</td>
                        <td>body</td>
                      </tr>
                    </thead>
  
                    <% if (test) { %>
                      <tr>
                        <td>
                          <span class="mark-number">1</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[0]%>">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[1]%>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">2</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[2]%>">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[3]%>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">3</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[4]%>">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[5]%>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">4</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[6]%>">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[7]%>">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">5</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[8]%>">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="<%=test.marksBoundaries[9]%>">
                        </td>
                      </tr>
                    <% } else { %>
                      <tr>
                        <td>
                          <span class="mark-number">1</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="0">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="0">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">2</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="0">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="0">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">3</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="0">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="0">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">4</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="0">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="0">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mark-number">5</span>
                        </td>
                        <td>
                          <input class="table-input-number" type="number" value="0">
                          <span class="dash">–</span>
                          <input class="table-input-number" type="number" value="0">
                        </td>
                      </tr>
                      <% } %>
                  </table>
                  <div class="total-points-wrap">
                    <span>Celkový počet bodů je: </span>
                    <span id="total-points-value">0</span>
                  </div>
                </div>
                <div class="time-limit-wrap">
                  <h4 class="wrap-heading-small">Časový limit</h4>
                  <% if (test) { %>
                    <select name="time-limit" id="selectTimeLimit">
                      <option value="null" <% if (test.timeLimit === null) { %> selected <% } %>>Bez limitu</option>
                      <option value="5" <% if (test.timeLimit == 5) { %> selected <% } %>>5 minut</option>
                      <option value="10" <% if (test.timeLimit == 10) { %> selected <% } %>>10 minut</option>
                      <option value="15" <% if (test.timeLimit == 15) { %> selected <% } %>>15 minut</option>
                      <option value="20" <% if (test.timeLimit == 20) { %> selected <% } %>>20 minut</option>
                      <option value="25" <% if (test.timeLimit == 25) { %> selected <% } %>>25 minut</option>
                      <option value="30" <% if (test.timeLimit == 30) { %> selected <% } %>>30 minut</option>
                      <option value="35" <% if (test.timeLimit == 35) { %> selected <% } %>>35 minut</option>
                      <option value="40" <% if (test.timeLimit == 40) { %> selected <% } %>>40 minut</option>
                      <option value="45" <% if (test.timeLimit == 45) { %> selected <% } %>>45 minut</option>
                      <option value="50" <% if (test.timeLimit == 50) { %> selected <% } %>>50 minut</option>
                      <option value="55" <% if (test.timeLimit == 55) { %> selected <% } %>>55 minut</option>
                      <option value="60" <% if (test.timeLimit == 60) { %> selected <% } %>>60 minut</option>
                    </select>
                    <% } else { %>
                      <select name="time-limit" id="selectTimeLimit">
                        <option value="null">Bez limitu</option>
                        <option value="5">5 minut</option>
                        <option value="10">10 minut</option>
                        <option value="15">15 minut</option>
                        <option value="20">20 minut</option>
                        <option value="25">25 minut</option>
                        <option value="30">30 minut</option>
                        <option value="35">35 minut</option>
                        <option value="40">40 minut</option>
                        <option value="45">45 minut</option>
                        <option value="50">50 minut</option>
                        <option value="55">55 minut</option>
                        <option value="60">60 minut</option>
                      </select>                   
                      <% } %>
                  <!-- <div>
                    <label for="shuffleQuestions">
                      <h4 class="wrap-heading">Zamíchat otázky:</h4>
                    </label>
                    <input type="checkbox" id="shuffleQuestions">
                  </div> -->
                </div>
                <button id="saveTest" class="btn btn--icon--before btn--blue btn--large">
                  <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                    <path
                      d="M42 13.85V39q0 1.2-.9 2.1-.9.9-2.1.9H9q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h25.15Zm-3 1.35L32.8 9H9v30h30ZM24 35.75q2.15 0 3.675-1.525T29.2 30.55q0-2.15-1.525-3.675T24 25.35q-2.15 0-3.675 1.525T18.8 30.55q0 2.15 1.525 3.675T24 35.75ZM11.65 18.8h17.9v-7.15h-17.9ZM9 15.2V39 9Z" />
                  </svg>
                  uložit test
                </button>
              </div>
          </div>
          

      </div>
  </main>
  </div>
</body>

<style>
  .new-test-wrapper {
    background-color: white;
    box-shadow: rgb(17 17 26 / 10%) 0px 8px 24px, rgb(17 17 26 / 10%) 0px 16px 56px, rgb(17 17 26 / 10%) 0px 24px 80px;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    padding:0.5rem;
  }
  .new-test-main {
    display: grid;
    overflow-y: auto;
    width: 100%;
  }
  
/*Navigace new test*/
.rectangle {
  height:0.5rem;
  width:3.5rem;
  background-color: rgb(242 242 242);
  border-radius:0.25rem;
}

.rectangle-wrapper {
  display:flex;
  gap:0.5rem;
  margin:0.25rem 0 0.75rem;
}

.rectangle.passed {
  background-color: rgb(39 126 237);
}

.progress-bar-wrapper button {
  outline:none;
  border:none;
  width:2.5rem;
  height:2.5rem;
  border-radius:0.35rem;
}

.progress-bar-wrapper button:hover {
  background-color: rgb(230,230,230);
  cursor:pointer;
}

#progress-bar-heading {
  font-size:2rem;
  font-weight:500;
  color:rgb(55,55,55);
}

.progress-bar-wrapper {
  margin:0 auto;
  display:grid;
  justify-items:center;
}

.navigation-wrapper {
  display:flex;
  justify-content:center;
  gap:0.5rem;
  margin-bottom:1rem;
}

.go-back-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.go-back-wrapper a {
  font-size: 3rem;
  background-color: rgb(255 255 255);
  color: rgb(122 122 122);
  border-radius: 9999px;
  text-decoration: none;
}

.go-back-wrapper a:hover {
  font-size: 3rem;
  background-color: rgb(235,235,235);
}

.go-back-wrapper span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  color: #4e4e4e;
}

.create-test-wrapper {
  height: 100%;
  overflow-x: auto;
}

.create-test-page {
  display:none;
}

.create-test-page--active {
  display:block;
  height: 100%;
}


/* PAGE 1 - mapy /tests/new */
.map-upload-button-wrap {
  background-color: rgb(245,245,245);
  color: rgb(45,45,45);
  padding:1rem;
  border-radius:0.35rem;
}
#map-upload {
  display: none;
}

#map-label {
  background-color: rgb(235,235,235);
  color: rgb(45,45,45);
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 600;
  text-transform:uppercase;
  letter-spacing:0.075rem;
}

#map-label:hover {
  filter: brightness(0.97);
  cursor: pointer;
  position: relative;
}

#map-label svg {
  margin-right: 0.35rem;
  top: 0.075rem;
  position: relative;
}
.map-upload-button-wrap div {
  color:rgb(120,120,120);
  width: fit-content;
  padding:0.25rem;
  border-radius:0.35rem;
  font-size:0.8rem;
}
/* Mapa */
.map-image {
  position:relative;
}

.map-image img {
  width:100%;
  height:15rem;
  object-fit:cover;
}

.map-wrap {
  box-shadow: 0 1px 4px 0 rgb(60 64 67 / 30%);
}

.maps-wrap {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:0.75rem;
  margin-top:0.75rem;
}

.maps-wrap 
.map-wrap input { 
  outline:none;
  border:none;
  width:100%;  
  padding:0 0.5rem 0.5rem 0.5rem;
  font-size:1.25rem;
  color:var(--black30);
  font-weight: bold;
}

.close-map {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: rgba(245, 245, 245, 1);
  color: rgba(35, 35, 35);
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 300;
  font-size: 1rem;
  z-index: 9;
}

.close-map:hover {
  background-color: rgba(235, 235, 235, 0.95);
}

.map-info  > * {   
  background-color:rgb(245,245,245);
}

.map-info {
  box-shadow: 0 1px 4px 0 rgb(60 64 67 / 30%);
  position:relative;
}

.map-info .placeholder {
  color: rgb(125,125,125);
  font-size:0.75rem;
  position:relative;
  padding:0.25rem 0.25rem 0 0.5rem;
  top:0rem;
}

/* PAGE 2 - tvorba otázek /tests/new */
.wrap-questions input {
  display:none;
}
.wrap-questions label {
  background: rgb(231 231 231);
  padding:0.4rem;
  border-radius:0.5rem;
  text-align:center;
  width:100%;
  cursor:pointer;
}

.wrap-questions input:checked + label, .wrap-questions input:hover + label {
  background: rgb(211 211 211);
}

.wrap-questions span {
  display:flex;
}

.wrap-questions {
  display:grid;
  gap:0.5rem;
  background-color: rgb(245,245,245);
  padding: 1rem;
  border-radius: 0.75rem;
  grid-template-columns: repeat(auto-fill, minmax(2.5rem,1fr));
}
.wrap-questions > * {
  cursor:pointer;
}

#add-new-question {
  font-weight:400;
  border-radius:0.5rem;
  font-size:1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3613125rem;
  color: #4f98f4;
}
#add-new-question:hover {
  background-color: #e7f3ff;
}

/*layout 2 stranka - canvas, nastaveni otazky*/


.canvas-wrap-testing {
  width:750px;
  overflow-x:auto;
  visibility: hidden;
}
.canvas-testing {
  overflow-x:auto;
  width:750px;
}
.panel-testing {
  background-color: rgb(245,245,245);
  flex:1;
  min-width: 18rem;
  display:flex;
  flex-direction:column;
  border-radius: 0.75rem;
  visibility: hidden;
}
.wrap-testing {
  display:flex;
  max-width:1120px;
  margin:0.5rem auto 0 auto;
  gap:0.5rem;
}

@media (max-width: 600px) {
  .wrap-testing {
    flex-direction: column;
  }
  .panel-testing {
    min-width: unset;
    flex:1;
    order: 1;
  }
  .canvas-wrap-testing {
    width: 100%;
    order: 2;
  }
}


/* panel nastaveni otazky */
.panel-testing > div:nth-child(1){
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background: #e7e7e7;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}
.panel-testing > div:not(:nth-child(1)) {
  padding: 0 1rem 0 1rem;
  margin-bottom: 0.5rem;
}


.panel-testing .wrap-heading-small {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  color: #545454;
  margin-bottom: 0.5rem;
}
.panel-testing .wrap-heading-main > * {
  font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #424242;
}

#deleteQuestionBtn {
      color: #262626;
      border-radius: 0.25rem;
      padding: 0.45rem;
      cursor: pointer;
}

#deleteQuestionBtn:hover {
    background-color: #d5d5d5;
}

.panel-testing select:hover {
  background-color: rgb(232,232,232);
  cursor: pointer;
}

.panel-testing select, #selectTimeLimit {
  background: rgb(235,235,235);
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 0.2rem;
  border-right: 0.2rem solid transparent;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  font-weight: 500;
  color: #545151;
  height: 41px;
}

#add-answer-wrap {
  background-color: rgb(235,235,235);
    color: #4f98f4;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#add-answer-wrap:hover {
  background-color: rgb(225,225,225);
  cursor:pointer;
}
.points {
  display:flex;
  align-items: center;
  gap:1rem;
}

.points button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.35rem;
  border-radius: 0.35rem;
  background-color: transparent;
  color: #545151;
  font-weight: 700;
}
.points button:hover {
  background-color: rgb(235,235,235);
}

#point-value {
  width: 2rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  color: rgb(65,65,65);
  user-select: none;
  color: #4f98f4;
}


.answer-wrap {
  background-color:rgb(235,235,235);
  box-shadow: 0 1px 4px 0 rgb(60 64 67 / 30%);
  padding:0 0.5rem 0.25rem 0.5rem;
  display:grid;
  grid-template-columns:minmax(4rem, auto) 3rem;
  width:100%;
  border-radius:0.5rem;
  margin-bottom:0.5rem;
}
.answer-wrap-green {
  background-color: rgb(133,233,151);
}

.answer-text {
  outline:none;
  border:none;
  background:inherit;
  font-size:1.2rem;
  color:rgb(64, 64, 82);
  font-weight:450;
  grid-column: span 1;
  height:2.5rem;
}
.answer-text::placeholder {
  color:rgba(75,75,105,0.5);
  font-weight:400;
  font-size:1rem;
}
.answer-checkbox {
  grid-column: span 1;
  font-size:0.75rem;
  color:rgb(45,45,45);
  /* border-top:1px solid rgb(220,220,220);
  padding-top:0.5rem; */
  position:relative;
}
.answer-checkbox input {
  accent-color: white;
}
.answer-checkbox span {
  position:relative;
  top:-0.1rem;
  margin-left:0.15rem;
}
.close-term {
  font-size:1.25rem;
  border:none;
  background:inherit;
  color: rgb(65,65,65);
  width:2rem;
  height:2rem;
  grid-row: span 2;
  align-self:center;
  justify-self:center;
  position: relative;
  top:0.15rem;
}
.close-term:hover {
  background: white;
  border-radius:0.5rem;
  cursor:pointer;
}
.answer-wrap  {
  margin-top: 0.5rem;
}

/* Nastavení tvaru*/
.shapes-wrap input{
  display:none;
}
.shapes-wrap span:hover {
  background:rgb(240,240,240);
  cursor:pointer;
}
.shapes-wrap span {
  padding: 0.45rem 0.85rem;
    text-transform: uppercase;
    border-radius: 0.35rem;
    font-weight: 500;
    font-size: 0.9rem;
    color: #6e6e6e;
    letter-spacing: 0.05rem;
}
.shapes-wrap input:checked + span {
  background: rgb(121 153 229);
    color: white;
}
.shapes-wrap .close-shape {
  position:relative;
  position: relative;
    top: 0.1rem;
    text-align: end;
    width: min-content;

}
.hidden {
  visibility:hidden;
}
.shapes-wrap {
  background: #e9e9e9;
  padding: 0.5rem 0.35rem 0.5rem 0.35rem;
  border-radius: 0.35rem;
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:0.5rem;
}
.shapes-heading {
  margin-top: 0.5rem;
}

/* canvas-icons */
.canvas-icons {
  display: flex;
  margin-top: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
}
.canvas-icon-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.canvas-icon-wrap .material-symbols-outlined {
  background: #e9e9e9;
    padding: 0.5rem;
    border-radius: 0.35rem;
    cursor:pointer;
}

.canvas-icon-wrap .material-symbols-outlined:hover {
  background: #d8d8d8;
}

.canvas-icon-wrap .icon-text {
  font-size: 0.9rem;
    /* border-radius: 0.5rem; */
    font-weight: 500;
    color: #545151;
}

/* Dokončení */

#test-name-wrap, .time-limit-wrap {
  background-color: rgb(245,245,245);
  padding: 1rem;
  border-radius: 0.5rem;
}
#test-name-wrap input {
  border: none;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgb(235,235,235);
  color: #474747;
  outline:none;
}
/* tabulka */
.marks-wrap {
  padding: 1rem;
  background-color: rgb(245,245,245);
  border-radius: 0.5rem;
  margin: 1rem 0;
}
.marks-wrap {
  width: 100%;
  max-width: 40rem;
}
table {
  background-color: rgb(255 255 255);
  border-collapse: collapse;
  border-radius: 0.5rem;
  width: 100%;
}
.marks-wrap tbody {
  background-color: white;
}
thead {
  text-transform:uppercase;
  font-weight:bold;  
}
tr,td {
  border-radius:0.25rem;
  background-color: white;
}
.head-row td {
  border-radius:0;
  color: #4f4f4f;
  background-color:rgb(235,235,235);
}
tbody tr {
  background-color:rgb(242,242,242);
}

table tr:not(:last-child) {
  border-bottom:2px solid rgb(232,232,232);;
}

td {
  text-align:center;
  width:15rem;
}
.table-input-number {
  width:3rem;
  background-color: rgb(235,235,235);
}
table .dash {
  font-weight:bold;
  position:relative;
}
table input {
  border:none;
  font-size:1rem;
  text-align:center;
  border-radius:0.25rem;
  outline:none;
  color: #4f4f4f;
  font-weight:450;
  font-size:1.25rem;
}
tr {
  height:2.5rem;
}
.mark-number {
  width:2.5rem;
  display:inline-block;
  text-align:center;
  font-weight:450;
  font-size:1.25rem;
  border-radius:0.5rem;
  background: #d9faf8;
    color: #099d96;
}

.marks-wrap input::-webkit-outer-spin-button,
.marks-wrap input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.marks-wrap input[type=number] {
  -moz-appearance: textfield;
}
/* konec tabulka */

.time-limit-wrap div {
  display: flex;
    margin-top: 0.5rem;
}
.time-limit-wrap input {
  accent-color: white;
  margin-left: 0.5rem;
  width: 1.5rem;
  position: relative;
  top: -0.25rem;
}
.total-points-wrap {
  display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(255 255 255);
    padding: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    margin-top: 1rem;
    color: #4f4f4f;
}
.total-points-wrap span:first-of-type {
  color: #626262;
    font-weight: 600;
}

#total-points-value {
  padding: 0 0.5rem;
    background: #ffffff;
    border-radius: 0.25rem;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    color: #3c88d9;
}

#saveTest svg {
  fill: #ffffff;
  transform:scale(0.5);
}

.wrap-heading-small {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  color: #545454;
  margin-bottom: 0.5rem;
}

#saveTest {
  margin-top: 1rem;
  height: 3rem;
    width: 100%;
    max-width: 20rem;
    padding: 0.5rem 1rem 0.5rem 0;
    color: #fefffe;
    background-color: #618cd3;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#saveTest:hover {
  background-color: #4983e0;
}
</style>
